LLM_BASE_URL=http://127.0.0.1:8000/v1
LLM_API_KEY=none
VISION_MODEL_URL=http://127.0.0.1:8001/v1
VISION_MODEL_API_KEY=none
TAGGER_BASE_URL=http://127.0.0.1:8002/v1
TAGGER_API_KEY=none
AGENT_WALLET=
PATH_TO_KEYFILE=
MOLECULE_API_KEY=

SNAPSHOT_R2_ENDPOINT=
SNAPSHOT_R2_BUCKET=
SNAPSHOT_R2_ACCESS_KEY_ID=
SNAPSHOT_R2_SECRET_ACCESS_KEY=